:global{
  .ant-divider-horizontal.ant-divider-with-text:before, .ant-divider-horizontal.ant-divider-with-text:after{
    border-top: 1px solid #ccc;
  }
  .title{
    cursor: pointer;
    color: #fff;
    text-align: center;
    span{
      font-size: 20px;
    }
  }
  .main{
    max-width: 800px;
    margin: 0 auto;
    padding-bottom: 100px;
    ul{
      list-style: none;
      padding: 0 10px;
      margin: 0;
      li{
        .main_divider{
          padding-bottom: 10px;
          transition-property: font-size, color;
          transition-duration: .5s;
        }
        .main_title{
          font-weight: bold;
          transition-property: font-size, color;
          transition-duration: .5s;
        }
        padding: 0 10px;
        margin: 20px;
        &:hover{
          cursor: pointer;
          .main_title{
            font-size: 27px;
            color: #f75357;
          }
          .main_divider{
            font-size: 20px;
            color: #f75357;
          }
          .ant-divider-horizontal.ant-divider-with-text:before, .ant-divider-horizontal.ant-divider-with-text:after{
            border-top: 2px solid #f75357;
          }
        }
      }
      p{
        padding-bottom: 15px;
        margin: 0;
      }
    }
    .content{
      font-size: 18px;
      color: #666;
    }
    .time{
      border-bottom: 1px solid #ccc;
    }
  }
  .footer{
    background-color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
    p{
      text-align: center;
      color: #333;
      font-size: 14px;
      margin: 0;
    }
  }
}